body {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 1em;
    /* display: block; */
}

p {
    font-size: 1em;
}

#header {
    border: 2px dashed grey;
    border-radius: 10px;
    padding-left: 4px;
    width: 99%;
    margin-right: 5px;
    height: 150px;
}

#gallery-container {
    column-count: 2;
    column-gap: .5em;
    width: 100%;
}

#gallery {
    /* display: flex; */
    /* flex-wrap: wrap;  */
    align-content: space-between;
    flex-direction: column;
}

.photo {
    /* margin-top: 5px; */
}

.image {
    margin-bottom: 5px;
    flex-grow: 1;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
}

@media (min-width: 600px) {
    #header {
        width: 150px;
    }
    #gallery-container {
        width: calc(100% - 170px);
        column-count: 3;
    }
}

@media (min-width: 800px) {
    #gallery-container {
        column-count: 4;
    }
}
@media (min-width: 1000px) {
    #gallery-container {
        column-count: 5;
    }
}
@media (min-width: 1200px) {
    #gallery-container {
        column-count: 6;
    }
}
@media (min-width: 1400px) {
    #gallery-container {
        column-count: 7;
    }
}