:root {
    --background-color: white;
    --width-of-header: 8em;
}

body {
    color: grey;
    font-family: sans-serif;
    font-weight: 100;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 200px) {
    h1 {
        font-size: 2em;
        font-weight: 200;
    }
    p {
        font-size: 1em;
    }
    #gallery-header {
        width: 100%;
        padding: 5% 20% 20% 5%;
        border: 10px dashed grey;
        border-radius: 5em;
        /* margin: 5%; */
    }
    #gallery {
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        /* justify-content: space-between; */
        width: 100%;
        column-count: 2;
        column-gap: 5%;
    }
    .photo {
        /* width: 100%;
        margin-top: 4%;
        padding: 0; */
    }
    .image {
        width: 100%;
        border: 5px solid var(--background-color);
        border-radius: 2em;
    }
}


@media (min-width: 600px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    #gallery-header {
        width: var(--width-of-header);
        height: 175px;
        padding: 2% 2% 5em 2%;
        border: 5px dashed grey;
        border-radius: 1.5em;
        margin-bottom: auto;
    }
    #gallery {
        width: calc(94% - var(--width-of-header));
        column-count: 3;
        column-gap: 3%;
    }
    @media (min-width: 1000px) {
        #gallery {
            column-count: 4;
        }
    }
    @media (min-width: 1400px) {
        #gallery {
            column-count: 5;
        }
    }
}

}